@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto:wght@400;700&display=swap');


.main-container{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border:2px solid black;
    box-shadow: 5px 5px 10px black;
    box-sizing: border-box;
    width: 90%;
    background-image: url(images-main.jpg);
    background-size:cover;
}

.main-title{
    font-size: 1.5rem;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    color: #ddd;
}

.type{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.city{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.security{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.age{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}


label{
    font-family: 'Belanosima', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    color: #ddd;
    text-shadow: 5px 5px 5px black;
    
}
select{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    appearance: none;
    border-radius: 1rem;
    width: 80%;
    text-align: center;
    background-color: #232323;
    color: #ddd;
    cursor: pointer;
}

.estimated-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-span{
    font-size: 3rem;
    font-family:'Belanosima', sans-serif;
    color: #ddd;
    text-shadow: 5px 5px 5px black;
}
.button-price{
    border-top-left-radius: 0;
    border-top-right-radius:0;
}

@media (min-width: 1200px){
    select{
        font-size: 2.5rem;
    }
    label{
        font-size: 2.5rem;
    }
}